.header
{
  position: relative;

  display: flex;
  overflow: hidden;

  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  padding-left: 64px;

  background-color: #f1f1f1;

  align-items: center;
}