.resources__logo
{
  width: 270px;
  height: 38px;
  margin-top: 80px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.resources__logo_arzamas
{
  background-image: url('../../../images/logo/resources-arzamas.svg');
}
.resources__logo_n1
{
  background-image: url('../../../images/logo/resources-n1.svg');
}

.resources__logo_strelka
{
  background-image: url('../../../images/logo/resources-strelka.svg');
}

.resources__logo_polka
{
  background-image: url('../../../images/logo/resources-polka.svg');
}