.page
{
  font-family: 'Helvetica Neue', Arial, sans-serif;

  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;

  cursor: default;
}

.header
{
  position: relative;

  display: flex;
  overflow: hidden;

  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  padding-left: 64px;

  background-color: #f1f1f1;

  align-items: center;
}

.logo
{
  width: 183px;
  height: 32px;
}

.logo_place_header
{
  position: absolute;
  z-index: 3;
  top: 30px;
  left: 64px;

  background-image: url('../images/logo_place_header.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.header__title
{
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;

  z-index: 3;

  width: 730px;
  margin: 0;
}

.header__subtitle
{
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;

  position: absolute;
  z-index: 3;
  bottom: 30px;
  left: 64px;

  width: 388px;
  margin: 0;
}

.header__link
{
  text-decoration: none;

  color: #2f80ed;
}

.header__link:hover
{
  text-decoration: underline;
}

.header__main-illustration
{
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;

  width: 765px;
  height: 608px;

  pointer-events: none;
}

.header__square-pic
{
  position: absolute;
  z-index: 1;
  top: 64px;
  right: 0;

  width: 568px;
  height: 568px;

  background-color: #2f80ed;
}

.description
{
  padding: 100px 0 50px;

  background-color: #fefefe;
}

.two-columns
{
  display: flex;

  width: 80%;
  margin: auto;

  justify-content: space-between;
}

.two-columns__brief
{
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;

  width: 175px;
  margin: 0;

  color: #2f80ed;
}

.two-columns__main-text
{
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph
{
  font-size: 24px;
  line-height: 34px;

  margin: 0;
  padding-bottom: 30px;
}

.two-columns__paragraph:last-child
{
  padding-bottom: 0;
}

.two-columns__span-accent
{
  font-weight: bold;
}

.digits
{
  padding: 50px 0 100px;

  background-color: #fefefe;
}

.section-title
{
  font-size: 60px;
  font-weight: bold;
  line-height: 1.15;

  position: relative;
  z-index: 2;

  width: 60%;
  margin: 0 auto;
  padding-bottom: 20px;

  text-align: center;
}

.section-subtitle
{
  font-size: 24px;
  line-height: 34px;

  position: relative;
  z-index: 2;

  width: 60%;
  margin: 0 auto;

  text-align: center;
}

.table
{
  position: relative;
  z-index: 1;

  display: flex;

  width: 1100px;
  margin: auto;
  padding-left: 0;

  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell
{
  width: 250px;
  padding-top: 60px;

  list-style: none;
}

.table__heading
{
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;

  margin: 0;
  padding-bottom: 20px;
}

.table__text
{
  font-size: 18px;
  line-height: 1.2;

  margin: 0;
  padding-bottom: 20px;
}

.table__text:last-child
{
  padding-top: 0;
}

.feinman
{
  position: relative;

  box-sizing: border-box;
  min-height: 790px;
  padding: 100px 0;

  background-color: #f1f1f1;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.feinman__title
{
  font-size: 120px;
  line-height: 1.15;

  width: 648px;
  margin: 0 auto;
  padding-bottom: 70px;

  text-align: center;
}

.feinman__subtitle
{
  font-size: 36px;
  line-height: 51px;

  margin: 0;

  text-align: center;
}

.feinman__link
{
  font-size: 36px;
  line-height: 51px;

  position: absolute;
  top: 50%;
  right: 48px;

  margin: auto;

  text-decoration: none;

  color: black;
}


.feinman__link:hover
{
  text-decoration: underline;
}

.kaufman
{
  position: relative;

  overflow: hidden;

  padding: 90px 0;

  background-color: #1f1f1f;
}

.section-title_theme_dark
{
  color: white;
}

.section-subtitle_theme_dark
{
  color: white;
}

.table__cell_theme_dark
{
  width: 200px;
  padding-top: 80px;

  color: white;
}

.table__heading_theme_dark
{
  color: white;
}

.kaufman__triangle
{
  position: absolute;
  top: 0;
  right: -210px;

  width: 877px;
  height: 877px;

  background-image: url('../images/kaufman-triangle.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer
{
  padding: 60px 0 40px;

  background-color: #1f1f1f;
}

.footer__columns
{
  display: flex;

  width: 90%;
  margin: auto;

  justify-content: space-between;
}

.footer__column_content_copyrigth
{
  display: flex;

  min-height: calc(350px - 60px - 40px);

  flex-basis: 711px;
  align-content: space-between;
  flex-wrap: wrap;
}

.logo_place_footer
{
  height: 35px;

  background-image: url('../images/logo_place_footer.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__autor
{
  font-size: 18px;
  line-height: 25px;

  width: 100%;
  margin: 18px 0;

  color: white;
}

.footer__column-heading
{
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;

  margin: 0;
  padding-bottom: 20px;

  color: white;
}

.footer__column-links
{
  margin: 0 0 16px;
  padding: 0;

  list-style: none;
}

.footer__column-link
{
  font-size: 18px;
  line-height: 30px;

  display: block;

  text-decoration: none;

  color: white;
}

.footer__column-link:hover
{
  text-decoration: underline;
}

.footer__social-icon
{
  display: inline-block;

  width: 16px;
  height: 16px;
  margin-right: 10px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer__social-icon_fb
{
  background-image: url('../images/facebook_color_white.svg');
}

.footer__social-icon_vk
{
  background-image: url('../images/vk_color_white.svg');
}

.footer__social-icon_ig
{
  background-image: url('../images/instagram_color_white.svg');
}
