.khan__buy-link
{
  font-size: 30px;
  line-height: 42px;

  margin-left: 48px;

  text-decoration: none;

  color: #2f80ed;
}

.khan__buy-link:hover
{
  /* text-decoration: underline; */
  opacity: .8;
  transition: .2s;
}